body {
  background: rgba(77, 77, 77, 0.7);
  height: 100%;
  font-family: 'Patua One', cursive;
  line-height: 40px;
  text-align: center;
  overflow: scroll;

}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  color: black;
}

#column {
  background: rgba(77, 77, 77, 1);
  width: 20%;
  overflow: auto;
  border-right: 3px solid black;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

form {
  padding: 10px;
  line-height: 0;
}

label,
input {
  display: block;
  margin-bottom: 20px;
}

input,
#add-btn {
  font-size: 18px;
  border: none;
  outline: none;
}

input {
  width: 80%;
  float: left;
}

#add-btn {
  background: rgba(153, 102, 255, 0.9);
  font-family: 'Patua One', cursive;
  border-radius: 5px;
}

#add-btn:hover {
  background: rgba(255, 255, 102, 0.9);
}

#input-section {
  background: rgba(0, 204, 102, 0.8);
  padding: 10px 0;
  margin: 10px 0;
  position: relative;
  top: -15px;
}

button {
  background: #38c9ae;
  border: 1px solid black;
}

.topicBtn {
  font-size: 20px;
  line-height: 30px;
  background: rgba(255,89,89, 0.9);
  display: block;
  padding: 0 10px;
  margin: 10px auto;
  border-radius: 10px;
  width: 80%;
  cursor: context-menu;
  position: relative;
  right: -10px;
}

.topicBtn:hover {
  background: rgba(255, 255, 102, 0.9);
}

#instructions {
  background: rgba(0, 204, 102, 0.8);
  width: 40%;
  margin: 0 auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  top: -20px;
}

.gifDiv {
  background: rgba(204, 204, 204, 0.5);
  padding: 10px 10px 20px;
  /*border-top-right-radius: 10px;*/
  /*border-top-left-radius: 10px;*/
  border-radius: 10px;
  float: left;
  margin: 20px;
}

.gifDiv:hover {
  background: rgba(255, 255, 102, 0.5);
}

img {
  border: 2px solid black;
  cursor: pointer;
}

.ratingDiv {
  line-height: 20px;
  font-size: 20px;
  color: black;
}

#results {
  width: 80%;
  position: absolute;
  right: 0;
  padding: 20px;
}

.material-icons{ 
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
}

.material-icons:hover {
  color: red;
  cursor: pointer;
}


